body
    font-family: "roboto", sans-serif
*
    box-sizing: border-box
    padding: 0
    margin: 0
html
    scroll-behavior: smooth
.container
    max-width: 1440px
    margin: 0 auto
header
    background: #78909cd1
    min-height: 80px
    .nav
        padding: 20px 120px
        &_list
            display: flex
            justify-content: space-between
            list-style-type: none
            margin: 0
        &_item
            &:hover
                border: 2px solid green
                border-radius: 40%
                transition: 2s all
        &_link
                text-decoration: none
                color: #FAFAFA
                font-size: 25px
                transition: 2s all
                font-weight: 700
                &:hover
                    font-size: 36px
                    transition: 2s all
                    color: red
.head
    background: #3d4832
    border-radius: 11px
    .user
        display: grid
        grid-template-columns: 1fr 1fr
        background: #db7d6e
        border-radius: 30px
        &_img
            border-radius: 100%
            width: 300px
            padding: 25px
            background: rgba(0, 0, 0, 0.4)
        h1
            display: grid
            align-items: center
            color: aliceblue
            font-size: 40px
            font-weight: 500
            transition: 2s all
            text-transform: uppercase
            cursor: pointer
            &:hover
                font-size: 55px
                transition: 2s all
                font-weight: 700
.main
    background: #E3F2FD
    min-height: 800px
    padding: 35px 0 20px 0
    h3
        font-size: 22px
        line-height: 30px
    .info-title
        margin-bottom: 30px
        border-bottom: 3px solid #000
        padding: 14px 0
        color: orange
.section
    width: 40%
    padding: 10px
    padding-bottom: 35px
.column
    display: flex
    justify-content: space-between
    flex-wrap: wrap
.contacts
    &_wrapper
        list-style-type: none
    &_bloc
        display: flex
        align-items: center
        margin-bottom: 15px
    &_img
        width: 20px
        height: 20px
        margin-right: 15px
        &_discord
            background: url('../assets/icons/discord (1).svg') center (center / cover) no-repeat
        &_phone
            background: url('../assets/icons/phone-solid.svg') center (center / cover) no-repeat
        &_github
            background: url('../assets/icons/github.svg') center (center / cover) no-repeat
        &_gmail
            background: url('../assets/icons/envelope-regular.svg') center (center / cover) no-repeat
    &_text
        text-decoration: none
        color: #363636
        transition: 2s all
        &:hover
            color: orange